@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  .loading {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --light-background-image: url("../public/pexels-martin-mariani-2162253-3801463.jpg");
  --dark-background-image: url("../public/pexels-pixabay-531756.jpg");
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: var(--light-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: var(--dark-background-image);
  }
}

input:focus{
  outline: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}